/* General*/
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

/* ----- Fonts ------ */

h1{
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.description{
    font-family: Arial, Helvetica, sans-serif;
}
/* ------ (Home) Page Design ------ */

#cometeSec{
    align-self: start;
}

#comete{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(assets/image/hextech.jpeg);
    background-size: cover;
}

body{
    width:100vw;
    overflow-x: hidden;
}

#section1{
    width: 100vw;
    min-height: 100vh;
    background-image: url(assets/image/ArcaneBackground.jpeg);
    background-size: cover;

    padding-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.imageG{
    width: 20%;
    align-self: self-start;
    /*filter: drop-shadow(10 10 10 black);*/
}

#cait2{
    height: 100%;
    width: 100%;
}

.textIntro{
    width: 60%;
    background-color: rgba(137, 43, 226, 0.5);
    color:antiquewhite
}

h1, p{
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    display: flex;
    justify-content: center;

    padding: 10px;

    background-color: rgba(137, 43, 226, 0.5);
}

.textSec2{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: blue;
    
    width: 35%;
}

h3{
    font-size: 25px;
}

.description{
    font-size: 20px;
}

.imageD{
    width: 20%;
    align-self: self-end;
}

#cait{
  height: 100%;
  width: 80%;
}

#section2{
    width: 100vw;
    min-height: 50vw;
    background-image: url(assets/image/CaitHouse.png);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#Cait3{
    height: 100%;
    width: 94%;
}

.CaitIs{
    align-self: self-start;
}

#section3{
    width: 400vw;
    min-height: 100vw;
    background-color: rgb(26, 86, 102);
    display: flex;
}

.cassandraSection{
    width: 100vw;
    height: 100vw;
    background-image: url(assets/image/Kiramman\ house\ arcane.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.cassandra{
    height: 250px;
    width: 200px;
    align-self: center;

    padding: 10px;
}

.tobiasSection{
    width: 100vw;
    height: 100vw;
    background-image: url(assets/image/piltover.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.tobias{
    height: 250px;
    width: 200px;
    align-self: center;

    padding: 10px;
}

.viSection{
    width: 100vw;
    height: 100vw;
    background-image: url(assets/image/VI\ \(Arcane\).jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.vi{
    height: 250px;
    width: 200px;
    align-self: center;

    padding: 10px;
}

.paragrapheDesc{
    align-self: center;
    background-color: aqua;
    border-radius: 5px;
    width: 50vw;
    font-size: 40px;

    padding: 10px;
}

.jayceSection{
    width: 100vw;
    height: 100vw;
    background-image: url(assets/image/jayceLab.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.jayce{
    height: 279px;
    width: 200px;
    align-self: center;

    padding: 10px;
}

/*#section4{
    width: 100vw;
    min-height: 50vw;
    background-color: rgb(195, 148, 18);
}*/

#section5{
    width: 100vw;
    min-height: 100vw;
    background-image: url(assets/image/love.jpeg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#section5__image{
    display: flex;
    align-items: center;
}

.characters{
    /*height: 100%;*/
    width: 20%;
}

#mel{
    height: 85%;
    width: 85%;
}


#depositeZone{
    width: 250px;
    height: 250px;
    background-color: rgba(165, 42, 42, 0.5);
    align-self: self-end;
    margin: 10px;
}
/* ------- Responsive ------- */

/* ------- Animation ------- */

/* media queries*/
@media (max-width:666px){

h1, h2{
    font-size: 25px;
}

p{
    font-size: 30px;
}


/* Section 1 */

#section1{
    flex-direction: column;
}

#comete{
    width: 100px;
    height: 100px;
}

.imageG, .imageD{
    width: 30%;
    height: 25%;
}

/* Section 2 */

.CaitIs{
    width: 30%;
    height: 25%;
}

.description{
    font-size: 25px;
}

/* Section 3 */

#section3{
    flex-direction: column;
    height: 80vw;
    
}

.cassandra, .tobias, .vi, .jayce{
    height: 150px;
    width: 100px;
}

.paragrapheDesc{
    font-size: 10px;
}

/* Section 5 */


#mel{
    width: 70%;
    height: 70%;
}

#depositeZone{
    width: 150px;
    height: 150px;
}

.characters{
    width: 50%;
}

}
